header{
    background-color: #f3eed0;  
}
.header__main{
    border: 0px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}
header div {
    border: 0px; 
    border-style:dotted;
}

div nav{
    background-color: rgba(249, 243, 250, 0.8);
    border-radius: 15px;
    color:black;
    font-size: 18px;
    font-weight: 700 bold;
}
nav img {
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
}
.navMenu{
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.btn-default {
    background-color: #dd8dda;
    box-shadow: 0 16px 80px rgba(152, 147, 160, 100 , 0.8);
    border-radius: 15px;
    border: 0px; 
    border-style:double;

}
.btn-default:hover {
    background-color: #f7cdf5;
    box-shadow: 0 16px 36px rgba(82, 73, 97, 0.2);
}
b ,a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    touch-action: manipulation;
}
a {
    text-decoration: none;
    outline: none;
    transition: color 0.3s;
}