@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}
.search__item {
	padding: 20px calc(50% - 496px);
	font-size: 28px;
}


.postList{
	background-color: rgba(245, 216, 178, 0.795);
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
  margin-bottom: 200px;
}
.subTitle {
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: auto;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  background: rgba(239, 247, 246, 0.699);
  border-radius: 2px;
  display: grid;
  grid-template-rows: minmax(0px, max-content) 10fr minmax(0px, max-content);
  grid-template-columns: minmax(50px, max-content);
  
}
.body_post {
  display: grid;
  grid-template-columns: 570px 250px 0px;
  column-gap: 110px;
  
   
}

.author__post1 {
  
  display: grid;
  justify-items: start;
    font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 20px;
}
/* .likeBtn__GlQ_K {
  border: 5px solid rgb(106, 107, 47);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: large;
  color: #7B8E98;
} */

.author__post2{
  display: grid;
  justify-items: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
  color: blueviolet;
  font-weight: bold;
}
.author__post3{
  display: grid;
  justify-items: end;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.title {
  border: 5px solid mediumaquamarine;
  background-color: rgb(243, 226, 226);
  margin-bottom: 20px;
  min-height: 50px;
}
.popup {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
  }
  .popup_inner {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column; 
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background: rgb(209, 186, 165);
    
  }
  .modal_header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 10px 0 #0008; ;
  }
  .popup_inner_createPost {

      display: flex;
      justify-content:space-around;
      align-items: center;
      flex-direction: column; 
      position: absolute;
      left: 20%;
      right: 20%;
      top: 10%;
      bottom: 10%;
      margin: auto;
      background: rgb(209, 186, 165);
      
  }
  
  .urlAndImg{
    border: 5px solid rgb(222, 170, 233);
    width: 70%;
    height: 70%;
    margin-left: 20px;
    background-color:  rgba(255, 255, 255, 0.514);
    display: flex;
    align-items: center;
  }
  .urlAndImg1{
    max-width: 650px;
    max-height: 650px;
  }
  .modal-title{
    font-size: medium;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .dataInput{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
  
  }
  .inputReg{
    margin: 5px;
    border: 1pt;
    border-style: dotted;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%

  }
  .modalH1{
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .regButtons{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50%;
    flex-direction: column;
    
  }
  .modalPost {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 10px 0 #0008; ;
  }
	.dataInputCreate{  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.picturePost {
  border: 5px solid rgb(222, 170, 233);
  width: 70%;
  height: 70%;
  margin-left: 20px;
  background-color:  rgba(255, 255, 255, 0.514);
  display: flex;
  align-items: center;

}
.picturePost1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonPostGroup {
   display: flex;
  justify-content:space-between; 
  margin: 0;
  padding: 0;
}

.function_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.delete {
  border: 1px solid rgba(245, 216, 178, 0.795);
  cursor: pointer;
  background-color: rgba(245, 216, 178, 0.795);
}
.delete:hover {
  border: 1px solid rgb(194, 191, 191);
}